.about_style1{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.about_style1 .first-part-img{
  position: relative;
}
.about_style1 .first-part-img:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about_style1 .abut-main-row {
  margin: 0 -15px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.about_style1 .about-first-part{
  max-width: 53%;
  width: 100%;
  padding: 0px 15px;
}
.about_style1 .about2_title{
  padding-left: 70px;
}
.about_style1 .about-second-part{
  max-width: 47%;
  width: 100%;
  padding: 0px 15px;
}
.about_style1 .theme_main_heading{
  font-weight: var(--text_weight);
  text-transform: var(--text_style);
  font-family: var(--font-heading-family);
  font-size: 42px;
  line-height: 46px;
}
.about_style1 .theme_main_description {
  margin-top: 10px;
}
.about_style1 .theme_buttons {
  margin-top: 40px;
}
.about_style1 .about-hover-img img{
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}
.about_style1 .icon-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.about_style1 .about-content-icon{
  margin-right: 15px;
}
.about_style1 .about-content-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: var(--text_weight);
  font-family: var(--font-heading-family);
}
.about-us-block-title{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about-us-title {
  width: 100%;
  max-width: 50%;
}
@media screen and (max-width: 1429px) {
  .about_style1 .theme_main_heading{
    font-size: 36px;
    line-height: 40px;
  }
  .about_style1 .theme_buttons {
    margin-top: 30px;
  }
  .about_style1 .about2_title {
    padding-left: 50px;
  }
  .about_style1 .about-content-title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .about_style1 .theme_main_heading{
    font-size: 26px;
    line-height: 30px;
  }
  .about-us-block-title {
    margin-top: 20px;
  }
  .about_style1 .about-content-title {
    font-size: 18px;
    line-height: 22px;
  }
  .about_style1 .about2_title {
    padding-left: 20px;
  }
  .about_style1 .theme_buttons {
    margin-top: 20px;
  }
  .about_style1 .about-content-icon {
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px){
  .about_style1 .theme_main_heading{
    font-size: 24px;
    line-height: 28px;
  }
  .about_style1 .about-content-title {
    font-size: 16px;
    line-height: 20px;
  }
  .about-us-block-title {
    margin-top: 10px;
  }
  .about_style1 .about2_title {
    padding-left: 0px;
  }
  .about_style1 .about-first-part {
    max-width: 50%;
  }
  .about_style1 .about-second-part {
    max-width: 50%;
  }
}
@media screen and (max-width: 767px){
  .about_style1 .theme_main_heading{
    font-size: 22px;
    line-height: 26px;
  }
  .about_style1 .about-second-part {
    max-width: 60%;
  }
  .about_style1 .about-first-part {
    max-width: 100%;
    margin-top: 30px;
  }
  .about_style1 .abut-main-row{
    flex-direction: column;
  }
}
@media screen and (max-width: 575px){
  .about_style1 .theme_main_heading{
    font-size: 20px;
    line-height: 24px;
  }
  .about_style1 .about-second-part {
    max-width: 100%;
    padding: 0px;
  }
  .about_style1 .about-first-part {
    margin-top: 15px;
    padding: 0px;
  }
  .about_style1 .abut-main-row {
    margin: 0px;
  }
}
@media screen and (max-width: 479px){
  .about_style1 .theme_main_heading{
    font-size: 18px;
    line-height: 22px;
  }
}