.category-collection-style2 .main-collections-list-wrapper .swiper-button-next,
.category-collection-style2 .main-collections-list-wrapper .swiper-button-prev{
  opacity: 0;
}
.category-collection-style2 .main-collections-list-wrapper:hover .swiper-button-next,
.category-collection-style2 .main-collections-list-wrapper:hover .swiper-button-prev{
  opacity: 1;
}
.category-collection-style2 .collection-card__image .category_img{
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  padding: 10px;
}
.category-collection-style2 .collection-name-wrapper .h3{
  font-size: 18px;
  font-weight: var(--text_weight);
  text-transform: var(--text_style);
  font-family: var(--font-heading-family);
  display: inline-block;
  transition: all .5s ease;
}
.category-collection-style2 .collection-card__image{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.category-collection-style2 .collection-name-wrapper{
  text-align: center;
}
.category-collection-style2 .category_img .media{
  transition: all 0.5s ease;
  border-radius: 100%;
}
.category-collection-style2 .category_img .media:hover{
  scale: 1.1;
}
.category-collection-style2 .collection-card__image:hover .category_img:after {
  animation: spinAround 10s linear infinite;
  -webkit-animation: spinAround 10s linear infinite;
  -webkit-transition: all .5s ease-out;
}
.category-collection-style2 .collection-card__image .category_img:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 11366px) {
  .category-collection-style2 .collection-name-wrapper .h3{
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .category-collection-style2 .collection-name-wrapper .h3{
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .category-collection-style2 .collection-name-wrapper .h3{
    font-size: 10px;
  }
}
