.category-collection-style .main-collections-list-wrapper .swiper-button-next,
.category-collection-style .main-collections-list-wrapper .swiper-button-prev{
  opacity: 0;
}
.category-collection-style .main-collections-list-wrapper:hover .swiper-button-next,
.category-collection-style .main-collections-list-wrapper:hover .swiper-button-prev{
  opacity: 1;
}
.category_style_wrapper{
  position: relative;
}
.category-collection-style .main-collection-item--left {
  text-align: left;
}
.category-collection-style .main-collection-item--center {
  text-align: center;
}
.category-collection-style .main-collection-item--right {
  text-align: right;
}
.category-collection-style .collection-name-wrapper .h3{
  font-size: 26px;
  font-weight: var(--text_weight);
  text-transform: var(--text_style);
  margin-top: 25px;
  transition: all .5s ease;
}
.category-collection-style .collection-main-image{
  max-width: 205px;
  width: 100%;
  margin: auto;
  position: relative;
}
.category-collection-style .collection-card__image::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.category-collection-style .collections-all {
  margin-top: 50px;
}
@media screen and (max-width: 1429px) {
  .category-collection-style .collection-name-wrapper .h3{
    font-size: 22px;
    margin-top: 20px;
  }
  .category-collection-style .collections-all {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .category-collection-style .collection-name-wrapper .h3{
    font-size: 20px;
    margin-top: 15px;
  }
  .category-collection-style .collections-all {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .category-collection-style .collection-name-wrapper .h3{
    font-size: 18px;
    margin-top: 10px;
  }
  .category-collection-style .collections-all {
    margin-top: 20px;
  }
}
@media screen and (max-width: 575px) {
  .category-collection-style .collection-card__image:before{
    background-size: contain;
  }
  .category-collection-style .collection-name-wrapper .h3{
    font-size: 16px;
  }
}